:root{
    --background-color: rgb(29, 29, 29);
    --text-color: whitesmoke;
    --button-border: whitesmoke;
    --button-text: whitesmoke;
    --button-color: black;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    margin: auto;
    font-family: "Varela Round", sans-serif;
    min-height: 1000px;
}

a.button {
    padding: 1px 6px;
    border: 1px outset var(--button-border);
    border-radius: 3px;
    color: var(--button-text);;
    background-color: var(--button-color);;
    text-decoration: none;
}

.game-header{
    margin: 30px 0 30px 0;
    font-size: 64px;
}

.instruction{
    margin: 10px;
}

.game-state{
    font-size: 24px;
    font-weight: bold;
}

.play-btn{
    background-color: black;
    color: var(--button-text);
    font-size: 24px;
    width: 150px;
    height: 50px;
    border: 1px solid var(--button-border);
    border-radius: 4px;
    cursor: pointer;
}

.play-btn:hover{
    background-color: green;
    font-weight: bold;
    transition: background-color 0.3s, font-weight 0.3s;
}

#description-text{
    margin: 0 auto 30px auto;
    width: 30%;
    font-size: larger;
}

#example-container{
    width: 450px;
    margin: 0 auto;
    border: 3px solid whitesmoke;
}

#example-header{
    margin: 20px;
    font-size: 28px;
    position: relative;
    top: 4px;
}

#image-container-home{
    margin: 20px auto;
    height: 300px;
    width: 300px;
    border: 3px solid white;
}

#game-image-home{
    height: 300px;
    width: 300px;
}

#example-prompt{
    font-size: 20px;
}

#instruction-container{
    margin: 20px auto;
    width: 600px;
}

#instruction-header{
    font-size: 32px;
}

#instruction-list{
    text-align: left;
}

#header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-image{
    margin: 0 auto;
    height: 600px;
    width: 600px;
    border: 3px solid white;
}

#fixed-game-header{
    position: relative;
    left: 28px;
}

#home-image{
    height: 50px;
    width: 50px;
    border: 2px solid var(--button-border);
    border-radius: 8px;
    position: relative;
    left: 50px;
}

#home-image:hover{
    background-color: green;
    transition: background-color 0.3s;
}

#start-btn{
    padding: 5px 8px;
    background-color: black;
    color: var(--button-text);
    font-size: 20px;
    width: 150px;
    height: 50px;
    border: 1px solid var(--button-border);
    border-radius: 4px;
    cursor: pointer;
}

#start-btn:hover{
    background-color: green;
    font-weight: bold;
    transition: background-color 0.3s, font-weight 0.3s;
}

#number-text{
    font-size: 24px;
}

#yes-btn{
    margin: 0 10px;
    background-color: green;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    width: 60px;
    border: none;
    border: 1px solid var(--button-border);
    border-radius: 4px;
    cursor: pointer;
}

#yes-btn:hover{
    background-color: rgb(0, 206, 0);
    transition: background-color 0.3s;
}

#no-btn{
    margin: 0 10px;
    background-color: red;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    width: 60px;
    border: none;
    border: 1px solid var(--button-border);
    border-radius: 4px;
    cursor: pointer;
}

#no-btn:hover{
    background-color: rgb(165, 0, 0);
    transition: background-color 0.3s;
}

#user-score{
    font-size: 24px;
}

#game-over-text{
    font-size:  48px;
}

#final-score-text{
    font-size: 32px;
}

#play-again-btn{
    width: 180px;
}