:root{
    --background-color: rgb(29, 29, 29);
    --text-color: whitesmoke;
    --button-border: whitesmoke;
    --button-text: whitesmoke;
    --button-color: black;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    margin: auto;
    font-family: "Varela Round", sans-serif;
}

a.button {
    padding: 1px 6px;
    border: 1px outset var(--button-border);
    border-radius: 3px;
    color: var(--button-text);;
    background-color: var(--button-color);;
    text-decoration: none;
}

.game-header{
    font-size: 64px;
}

#image-container{
    margin: 0 auto;
    height: 600px;
    width: 600px;
    border: 3px solid white;
}

#game-image{
    height: 600px;
    width: 600px;
}

#home-image{
    height: 50px;
    width: 50px;
    border: 2px solid var(--button-border);
    border-radius: 8px;
}