:root{
    --background-color: rgb(29, 29, 29);
    --text-color: whitesmoke;
    --button-border: whitesmoke;
    --button-text: whitesmoke;
    --button-color: black;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    margin: auto;
    font-family: "Varela Round", sans-serif;
    min-height: 1000px;
}

a.button {
    padding: 1px 6px;
    border: 1px outset var(--button-border);
    border-radius: 3px;
    color: var(--button-text);;
    background-color: var(--button-color);;
    text-decoration: none;
}

.game-header{
    margin: 40px 0 0 0;
    font-size: 64px;
}

.instruction{
    margin: 10px;
}

#description-text{
    margin: 10px auto 30px auto;
    width: 25%;
    font-size: larger;
}

#example-container{
    width: 450px;
    margin: 0 auto;
    border: 3px solid whitesmoke;
}

#example-header{
    margin: 20px;
    font-size: 28px;
    position: relative;
    top: 4px;
}

#image-container-home{
    margin: 10px auto;
    height: 300px;
    width: 300px;
    border: 3px solid white;
}

#game-image-home{
    height: 300px;
    width: 300px;
}

#example-prompt{
    font-size: 20px;
}

#instruction-container{
    margin: 20px auto;
    width: 600px;
}

#instruction-header{
    font-size: 32px;
}

#instruction-list{
    text-align: left;
}

#image-container{
    margin: 0 auto;
    height: 600px;
    width: 600px;
    border: 3px solid white;
}

#game-image{
    height: 600px;
    width: 600px;
}

#home-image{
    height: 50px;
    width: 50px;
    border: 2px solid var(--button-border);
    border-radius: 8px;
}